body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #282828;
}
.parent {
	margin: 20px;
	width: 240px;
	display: flex;
	justify-content: space-between;
}
.parent:nth-child(2) {
	margin-top: 60px;
}
.child {
	height: 40px;
	width: 40px;
}
.first {
	border-right: 40px solid #f9ddc6;
	border-bottom: 40px solid #f9ddc6;
}
.second {
	border-left: 40px solid #f9ddc6;
	border-bottom: 40px solid #f9ddc6;
}
.third {
	border-right: 40px solid #f9ddc6;
	border-top: 40px solid #f9ddc6;
}
.fourth {
	border-left: 40px solid #f9ddc6;
	border-top: 40px solid #f9ddc6;
}
